



.home {
  background-image: url('http://www.presidiumdwarka16.com/images/app_img2.jpg');
  width: 100%;
  
  background-repeat: no-repeat;
  background-position: center center;
}


.tpt {
    background-color: #f500577a;
}